
<div id="main_map_canvas"></div>
<script>
  $(window).load(function()
  {
    var map = initialize_gmap("main_map_canvas");
    $("#main_map_canvas").css("width", $(window).width());
    $("#main_map_canvas").css("height", $(window).height() - $("div[data-role=header]").prop("offsetHeight"));
    
    create_and_add_marker_to_map_at_current_location(map, "<%= current_user.location %>");
  });
</script>
