<div data-role="footer">
  <div data-role="navbar">
    <ul>
      <li><%= link_to t('views.points_of_interest.new_venue'), new_venue_path, 'data-ajax' => false %></li>
      <li><%= link_to t('views.points_of_interest.new_event'), new_event_path, 'data-ajax' => false %></li>
    </ul>
  </div>
</div>